  body {
      text-align: center;
      background-color: lightgrey;
    }
    .row {
      display: flex;
      justify-content: space-evenly;
    }
    .cell {
      width: 8vw;
      height: 8vw;
      display: inline-block;
      margin: 0px;
      max-width: 10vh;
      max-height: 10vh;
    }
    .black {
      /*background-color: #292C34;
      */
      background-image: url('black-marble-tile.jpg');
    }
    .white{
      /*background-color: darkred;*/
      background-image: url('lava-tile.jpg');
    }
    .checker {
    margin: 10%;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: tan;*/
}

.white-checker {
background-size: cover;
background-color: #DC143C;
}

.black-checker {
background-size: cover;
background-color: #444444;
}

.selected {
    margin: 0;
    border: 1vmin solid rgba(255,255,255,0.5);
    background-repeat: no-repeat;
}
